$pastel-purple: rgb(248, 204, 248);
$pastel-mint: rgb(204, 241, 229);
$pastel-peach: rgb(245, 178, 171);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $pastel-purple;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1600px;
}

header {
  background-color: $pastel-mint;
  padding: 20px 0;
}

.search {
  background-color: $pastel-peach;
  padding: 15px;
  input {
    width: 50%;
  }
}

.results {
  display: flex;
}

.big-box {
  width: 50%;
}

.game-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0px;
  background-color: $pastel-mint;
  border-radius: 4px;
  border: 2px solid rgb(108, 136, 127);
  div {
    display: flex;
    div {
      padding: 0 10px;
    }
  }
  .title {
    flex-grow: 3;
  }
  .logo {
    max-width: 120px;
    img {
      width: 100%;
    }
  }
}
